<h1> Your Event </h1>

<p>
  <%= @event.title %>
</p>
<p>
  <%= @event.date %>
</p>

<% @attendees.each do |attendee| %>
  <p>
    <%= attendee.email %>
  </p>
<% end %>

<% if user_signed_in? %>
  <%= render 'attend_form', id: @event.id %> 
<% end %>

