<h1>Event</h1>
<br>

<%= @event.title %>
<%= @event.time %>
<%= @event&.creator&.email %>
<br>

<% if @event.creator != current_user %>
  <%= link_to "Attend Event", events_attend_path(@event) %>
<% end %>

<br>
